<!-- Home.ejs -->
<!DOCTYPE html>
<html lang="en">

<html>
<head>
    <title>Home page!!</title>
    username: <%= username %> <br>
    Hello, this is home Page 
    <p><a href="http://localhost:8000/register">go to the register page</a></p>
    <p><a href="http://localhost:8000/login">go to the login page</a></p>
    <form action="/logout" method="POST">
    <button type="submit">Logout</button> 
    </form>
</head>

<body>
   
    <script>
       
    </script>
</body>
</html>  