<!-- Home.ejs -->
<!DOCTYPE html>
<html lang="en">

<html>
<head>
    <title>Testing</title>
    Hello, this is testing Page
    <p><a href="http://localhost:8000/register">go to the register page</a></p>
    <p><a href="http://localhost:8000/login">go to the login page</a></p>
    <p><a href="http://localhost:8000/home_page">go to the home_page page</a></p>
    <p><a href="http://localhost:8000/logout">go to the logout page</a></p>
</head>

<body>
   
    <script>
       
    </script>
</body>
</html>  